@font-face {
  font-family: lemonMilk;
  src: url(lemon_milk/LEMONMILK-Regular.otf);
}
@font-face {
  font-family: lemonMilk;
  src: url(lemon_milk/LEMONMILK-Light.otf);
  font-weight: lighter;
}
@font-face {
  font-family: lemonMilk;
  src: url(lemon_milk/LEMONMILK-LightItalic.otf);
  font-weight: lighter;
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans Condensed", sans-serif;
  background-color: #edf1e1;
}

a {
  text-decoration: none;
}

/* header styling */

.header {
  height: 27vw;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: white;
  border-bottom: 4px solid #943669;
}

.header-img {
  height: 27vw;
  top: 0;
  width: 100%;
  background-image: url("product_images/header.png");
  opacity: 0.6;
  background-size: cover;
  position: fixed;
  z-index: 2;
}

.company-name {
  color: transparent;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.349);
  position: fixed;
  font-family: lemonMilk;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.fa-shopping-cart {
  position: absolute;
  font-size: 5vw;
  color: transparent;
  background: #000000;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.349);
}

.shopping-cart-button,
.shopping-cart-button:active,
.shopping-cart-button:hover {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  top: 10%;
  left: 90%;
  z-index: 3;
}

/* main product cards styling */

.product-container {
  margin: 30vw 5vw 5vw 5vw;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: auto auto;
}

.product-card {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #9c9c9c;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.image {
  max-width: 80%;
  margin-bottom: 5px;
}

.product-name {
  font-weight: 600;
  /* font-size: 4vw; */
}

.product-category {
  font-weight: 200;
  font-style: italic;
  /* font-size: 3vw; */
}
.product-desc {
  text-align: center;
  font-weight: 300;
  /* font-size: 3vw;
  width: 90%;
  margin: 5px 0px; */
}

.product-price {
  margin-bottom: 10px;
  font-size: 3vw;
}

.add-cart {
  background-color: rgb(63, 63, 63);
  font-family: "Fira Sans Condensed", sans-serif;
  /* font-size: 3vw; */
  color: white;
  border-radius: 10px;
  padding: 0px 10px;
  border-style: none;
}
.content1 {
  margin: 0.5vw;
  font-size: 10px;
}
/* cart styling */

.checkout-button,
.finish {
  background-color: #fe5f55;
  font-family: "Raleway", sans-serif;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border-style: none;
  margin-top: 10px;
}

.add-cart:focus,
.checkout-button:focus,
.finish:focus {
  outline: 0;
}
.cashcheckout {
  display: flex;
  flex-direction: column;
}

.add-cart:active,
.checkout-button:active,
.finish:active {
  background-color: #7a9e9f;
}

.billing,
.payment {
  display: flex;
  flex-direction: column;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
/* ---------------- */

.shopping-cart,
.checkout-window,
.receipt {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: medium;
}

.inside-cart,
.formsContainer,
.receipt-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  width: 80vw;
  height: 140vw;
  border-radius: 15px;
}

.hide {
  visibility: hidden;
}

.thank-you {
  margin-bottom: 15px;
}
/* ---------------- */
@media only screen and (min-width: 768px) {
  .header {
    border-bottom: 5px solid;
    border-color: #fe5f55;
  }

  .header-image {
    height: 30vh;
    object-fit: cover;
  }
  .product-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
  }

  .main-content {
    margin: 10px;
    padding-top: 25%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .header-title {
    font-size: 3vw;
  }

  .fa-shopping-cart {
    font-size: 3vw;
  }

  .inside-cart,
  .formsContainer,
  .receipt-content {
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    padding: 20px;
    background-color: white;
    width: 30vw;
    height: 50vw;
    border-radius: 15px;
  }

  .image {
    max-width: 100%;
    height: auto;
  }

  .image-cart {
    width: 100px;
    height: 100px;
  }
  .cardp,
  .cashp,
  .billing {
    margin-bottom: 3px;
  }

  .cashcheckout {
    display: flex;
    flex-direction: column;
  }
}
